body{
background-color: rgb(219, 219, 40);


}

h1{
  text-align: center;
}

input{
  margin-top: 15px;
margin-left: 42%;
padding: 10px;
height: 20px;
box-shadow: 100px;
padding-left: 10px;
width: 200px;
}

button{
margin-left: 45%;
height: 25px;
width: 7rem;

}



.fixing{
  justify-content: center;
  margin-left: 42%;
  
  
  }

  .centered-message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
img{
  margin-left: 200px;
  margin-top: -200px;
  border-radius: 10px;
}