body{
background-color: rgb(29, 25, 44);


}

input{
  margin-top: 15px;
margin-left: -2%;
padding: 10px;
height: 20px;
box-shadow: 100px;
padding-left: 10px;
width: 200px;
}

button{
margin-left: 45%;
height: 25px;
width: 7rem;

}

h1{
  text-align: center;
font-family:"Sedan SC", serif;
color: blanchedalmond;
}


.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixing {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.fixing .checkbox {
  margin-right: -40px;
}

.fixing h3 {
  margin: 0 10px;
}

.fixing p {
  margin: 0 10px;
}

.centered-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}


h3{
  font-family:"Sedan SC", serif;
color: blanchedalmond;
}

p{
 font-family:"Sedan SC", serif;
 color: blanchedalmond;
}